   .maintitle {
        font-size: 120px;
        text-align: center;
        font-family: arial, helvetica, sans serif;
        background-color: #008C8C;
    }
    .corpo {
        font-size: 48px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    .corpo1 {
        font-size: 24px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    .titles {
        font-size: 100px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }